.form {
    width: 320px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .loginForm{
    display:flex;
    flex-direction: column;
  }

  .title{
    text-align: center;
  }

  .button{
    display:flex;
    margin: 10px auto;
    padding:10px 20px;


  }